<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/3eafbcc5-81ce-4217-9ba4-17d1d6b7c0f3/resourceGroups/CampusTrafficApp/providers/Microsoft.Web/sites/CampusTrafficUC</ResourceId>
    <ResourceGroup>CampusTrafficApp</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://campustrafficuc-cfewdcgyh8epc2fz.eastus2-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>485f936a-c7f3-47b6-ba02-1c8c3e4f03b7</ProjectGuid>
    <PublishUrl>https://campustrafficuc-cfewdcgyh8epc2fz.scm.eastus2-01.azurewebsites.net/</PublishUrl>
    <UserName>$CampusTrafficUC</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>